@import "../../styles/mixins.scss";

.subsLogin {
  flex: 1;
  font-size: 11px;
  text-align: end;
  a {
    @include headerBtns;
    padding: 8px 12px;
    background-color: #567b95;
    border: 1px solid #326891;
    height: 11px;
    color: #fff;
    &:nth-child(2) {
      margin-left: 7px;
    }
  }
}
