.SubscribeCard {
  text-align: center;
  padding: 30px 18px 60px 18px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;

  background-color: white;
  .prices {
    font-family: "Domine";
    font-size: 1.6rem;
    color: #333;
    font-weight: lighter;
    margin-top: 1rem;
    del {
      color: rgba(0, 0, 0, 0.37);
      margin-right: 10px;
    }
  }
  button {
    display: block;
    margin: 1rem 0;
    border-radius: 3px;
    font-size: 1rem;
    width: 100%;
    padding: 14px 0;
  }
  .billed {
    font-size: 14px;
    color: #333;
    del {
      color: rgba(0, 0, 0, 0.37);
      margin-right: 3px;
    }
  }
  .perks {
    text-align: left;
    margin-top: 2rem;
    font-size: 13px;
    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      font-weight: 200;
      color: #666666;
      span {
        color: #121212;
        font-weight: 600;
        margin: 0px 1px 0px 10px;
      }
    }
  }
}

.SubscribebtnAll {
  color: #fff;
  background-color: #000;
}
.SubscribeBtnNoAccess {
  color: #000;
  border: 1px solid #000;
}
.lightGrey {
  color: #666666 !important;
}
