.subscribePageHeader {
  padding-top: 3.6rem;
  text-align: center;
  .logo {
    cursor: pointer;
  }
  h1 {
    font-family: "Lora";
    font-size: 1.9rem;
    margin-top: 1rem;
    color: #121212;
    font-weight: 200;
  }
  span {
    margin-top: 1rem;
    color: #666;
    display: block;
  }
}
