@import "../../../styles/mixins.scss";

.desktopNavBar {
  @include respond(tab-land) {
    display: none;
  }
  margin: 0 auto;
  ul {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    gap: 1.4rem;
    overflow: hidden;
    padding: 8px 0;

    li {
      text-align: center;
      font-size: 12px;
      text-transform: capitalize;
      padding: 3.4px;
      cursor: pointer;
      &:hover {
        background-color: rgb(241, 238, 238);
        border-radius: 3px;
      }
    }
  }
}
.line {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(14, 14, 14);
}
.line1 {
  margin-bottom: 1.5px;
}
