@import url("https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Lora:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

$lora:"Lora";
$domine:"Domine";
$oswald:"Oswald";
$p-color: #5a5a5a;
$border: rgb(192, 192, 192);
$size-medium: 13.7px;
